body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 71.3%;
  margin: 0 auto;
}

.form__input {
  display: block;
  margin-top: 20px;
}

.form__input:hover {
  transform: scale(1.05);
  border-radius: 10px;
}

.form__legend {
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  color: #222222;
}

input {
  width: 100%;
  min-height: 45px;
  border: 1px solid #A4A4A4;
}

@media (max-width: 768px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 375px) {
  .container {
    width: 98%;
  }
  input {
    width: 94%;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container__hover-menu {
  position: relative;
}

.container__hover-menu:hover .header__navigation {
  display: block;
}

.header__navigation {
  display: none;
  width: 232px;
  background-color: #FFFFFF;
  position: absolute;
  margin-top: 25px;
}

.navigation-heading-menu {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  padding: 37px 0 4px 33px;
}

.navigation-heading {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  margin: 20px 0 12px 33px;
}

.navigation-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #6F6E6E;
  text-decoration: none;
  padding-left: 55px;
}

.overlay-menu {
  width: 360px;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  display: none;
}

.header {
  background-color: #222222;
}

.header__wrapper {
  display: flex;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__input-search {
  width: 200px;
  min-height: 30px;
  display: none;
}

.header__button-search {
  width: 70px;
  min-height: 30px;
  margin-left: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #A4A4A4;
  background-color: #FFFFFF;
  border: none;
  display: none;
}

.header__search {
  display: flex;
}

.header__search-loupa:hover .header__input-search {
  display: block;
}

.header__search-loupa:hover .header__button-search {
  display: block;
}

.header__search-loupa:hover .loupa {
  display: none;
}

.header__list {
  display: flex;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 0 0 33px;
}

@media (max-width: 375px) {
  .mobile-hide {
    display: none;
  }
}

.header__icon {
  fill: #FFFFFF;
}

.intro {
  display: flex;
}

.into__heading-wrapper {
  width: 100%;
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
  padding: 0 0 0 40px;
}

@media (max-width: 375px) {
  .into__heading-wrapper {
    min-height: 363px;
    padding: 0 0 0 0;
    justify-content: center;
  }
}

.intro__heading {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 53px;
  font-weight: 900;
  font-style: normal;
  font-size: 38px;
  line-height: 36px;
  font-weight: 900;
  font-style: normal;
}

.intro__text {
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  display: block;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.intro__pink {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.intro_img {
  width: 50%;
  height: auto;
}

@media (max-width: 375px) {
  .intro_img {
    display: none;
  }
}

.stock__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 63px;
  margin-bottom: 96px;
}

@media (max-width: 768px) {
  .stock__list {
    margin-bottom: 155px;
  }
}

@media (max-width: 375px) {
  .stock__list {
    flex-direction: column;
    margin-bottom: 64px;
  }
}

.stock__item--woman {
  width: 31.6%;
  min-height: 260px;
  background-image: url(../img/stock-woman.jpg);
  background-size: cover;
}

@media (max-width: 768px) {
  .stock__item--woman {
    min-height: 168px;
  }
}

@media (max-width: 375px) {
  .stock__item--woman {
    width: 100%;
    min-height: 247px;
  }
}

.stock__item--man {
  width: 31.6%;
  min-height: 260px;
  background-image: url(../img/stock-man.jpg);
  background-size: cover;
}

@media (max-width: 768px) {
  .stock__item--man {
    min-height: 168px;
  }
}

@media (max-width: 375px) {
  .stock__item--man {
    width: 100%;
    min-height: 247px;
  }
}

.stock__item--kid {
  width: 31.6%;
  min-height: 260px;
  background-image: url(../img/stock-kids.jpg);
  background-size: cover;
}

@media (max-width: 768px) {
  .stock__item--kid {
    min-height: 168px;
  }
}

@media (max-width: 375px) {
  .stock__item--kid {
    width: 100%;
    min-height: 247px;
  }
}

.stock__item--woman,
.stock__item--man,
.stock__item--kid {
  margin-bottom: 30px;
}

.stock__item--shoes {
  width: 100%;
  background-image: url(../img/stock-shoes.jpg);
  min-height: 180px;
  background-size: cover;
}

@media (max-width: 768px) {
  .stock__item--shoes {
    min-height: 116px;
  }
}

@media (max-width: 375px) {
  .stock__item--shoes {
    width: 100%;
    min-height: 111px;
  }
}

.stock__heading {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .stock__heading {
    padding-top: 59px;
  }
}

@media (max-width: 375px) {
  .stock__heading {
    padding-top: 98px;
  }
}

.stock__heading-shoes {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .stock__heading-shoes {
    padding-top: 33px;
  }
}

@media (max-width: 375px) {
  .stock__heading-shoes {
    padding-top: 30px;
  }
}

.stock__text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  display: block;
}

.fetured__heading {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  padding-bottom: 6px;
}

.fetued__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
}

.fetured__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 47px;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .fetured__list {
    margin-bottom: 15px;
  }
}

@media (max-width: 375px) {
  .fetured__list {
    margin-bottom: 23px;
  }
}

.fetured__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 360px;
  min-height: 581px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .fetured__item {
    margin-bottom: 18px;
  }
}

.fetured__item {
  position: relative;
}

.fetured__button-cart {
  width: 138px;
  height: 43px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: white;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: transparent;
}

.fetured__overlay {
  width: 360px;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  display: none;
}

.fetured__heading-item {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 12px;
}

.fetured__text-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  color: #5D5D5D;
}

.fetured__price-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  padding-top: 18px;
  padding-bottom: 20px;
}

.fetured__nextpage {
  border: 1px solid #F16D7F;
  background-color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  text-decoration: none;
  padding: 13px 38px;
  transition: background-color 700ms, color 700ms;
}

.fetured__nextpage:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
  transition: background-color 700ms, color 700ms;
}

.fetured__button-nextpage {
  display: flex;
  justify-content: center;
}

.fetured__item:hover .fetured__overlay {
  display: block;
}

.fetured__item:hover .fetured__button-cart {
  display: block;
}

.advanteges {
  min-height: 341px;
  background-color: #222224;
  margin-top: 95px;
}

@media (max-width: 768px) {
  .advanteges {
    margin-top: 65px;
    min-height: 610px;
  }
}

@media (max-width: 375px) {
  .advanteges {
    margin-top: 96px;
  }
}

.advanteges__list {
  display: flex;
}

@media (max-width: 768px) {
  .advanteges__list {
    flex-direction: column;
  }
}

.advanteges__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 103px;
}

@media (max-width: 768px) {
  .advanteges__item {
    padding-top: 48px;
  }
}

.advanteges__heading-item {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
  margin-bottom: 16px;
  text-align: center;
}

.advanteges__text-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
}

@media (max-width: 768px) {
  .advanteges__text-item {
    width: 360px;
  }
}

.footer__background-img {
  min-height: 448px;
  background-image: url(../img/footer-background.jpg);
  background-size: cover;
}

@media (max-width: 768px) {
  .footer__background-img {
    min-height: 693px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .footer__background-img {
    min-height: 550px;
  }
}

.footer__img {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  color: #222224;
  width: 360px;
  text-align: center;
  margin-top: 86px;
}

@media (max-width: 768px) {
  .footer__img {
    margin-top: 53px;
  }
}

@media (max-width: 375px) {
  .footer__img {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    margin-top: 64px;
  }
}

@media (max-width: 375px) {
  .footer__img-img {
    width: 25%;
    height: 25%;
    margin-bottom: 30px;
  }
}

.footer__form {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  color: #222224;
  margin-top: 150px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 768px) {
  .footer__form {
    margin-top: 78px;
  }
}

@media (max-width: 375px) {
  .footer__form {
    margin-top: 59px;
  }
}

.footer__form-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: block;
}

@media (max-width: 375px) {
  .footer__form-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}

.footer__container-bottom {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 375px) {
  .footer__container-bottom {
    flex-direction: column;
    align-items: center;
    min-height: 143px;
    justify-content: center;
  }
}

.footer__bottom {
  min-height: 80px;
  background-color: #222224;
}

.footer__bottom-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
  margin-top: 30px;
}

@media (max-width: 375px) {
  .footer__bottom-text {
    margin-top: 0;
  }
}

.footer__bottom-link {
  margin-top: 32px;
}

.form__index-email {
  width: 100px;
  display: block;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #918f8f;
  padding: 7px 130px 6px 22px;
  background-color: #E1E1E1;
  border-radius: 25px 0 0 25px;
}

.form__index-email:hover {
  transform: scale(1.1);
}

.form__index {
  display: flex;
  min-height: 50px;
  margin-top: 30px;
}

.form__submit {
  width: 100px;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border-radius: 0 25px 25px 0;
}

.form__submit:hover {
  transform: scale(1.1);
}

.footer__icon {
  width: 30px;
  height: 30px;
}

.footer__icon:hover {
  transform: scale(1.1);
}

.footer__icon-inst {
  width: 30px;
  height: 30px;
  background-color: #F16D7F;
  border: none;
}

.footer__icon-inst:hover {
  transform: scale(1.1);
}

.main_registration {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 375px) {
  .main_registration {
    flex-direction: column;
  }
}

.intro_registration {
  min-height: 148px;
  background-color: #F8F3F4;
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .intro_registration {
    margin-bottom: 40px;
  }
}

.intro_registration-heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 59px 0 60px;
  margin-bottom: 64px;
}

@media (max-width: 375px) {
  .intro_registration-heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form {
  width: 30%;
}

@media (max-width: 375px) {
  .form {
    width: 96%;
    align-self: center;
  }
}

.radio-input {
  display: none;
}

.radio-label {
  margin: 0 0 0 20px;
  position: relative;
  padding: 0 20px 0 10px;
}

.radio-label:before {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  left: -20px;
  top: 2px;
}

#name::-webkit-input-placeholder {
  color: #B1B1B1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  padding-left: 5%;
}

.form_radio-input {
  margin-top: 33px;
  margin-bottom: 33px;
}

.form__contact-text {
  max-width: 360px;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px;
}

.form__link {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  color: white;
  border: none;
  text-transform: uppercase;
  margin-bottom: 96px;
  transition: background-color 700ms, color 700ms;
}

@media (max-width: 375px) {
  .form__link {
    margin-bottom: 40px;
  }
}

.form__link:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  transition: background-color 700ms, color 700ms;
}

.form__link-img {
  padding-left: 20px;
}

.text__registration {
  width: 57.2%;
}

@media (max-width: 375px) {
  .text__registration {
    width: 100%;
  }
}

.text__registration-heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

@media (max-width: 768px) {
  .text__registration-heading {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  .text__registration-heading {
    margin-bottom: 32px;
  }
}

.text__registration-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  padding-bottom: 21px;
}

@media (max-width: 768px) {
  .text__registration-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    width: 100%;
  }
}

.text__registration-list {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 45px;
  list-style: none;
  padding-left: 43px;
  position: relative;
}

@media (max-width: 768px) {
  .text__registration-list {
    font-size: 16px;
    line-height: 40px;
    font-weight: 300;
    font-style: normal;
    padding-left: 23px;
  }
}

@media (max-width: 375px) {
  .text__registration-list {
    margin-bottom: 100px;
  }
}

.text__registration-item::before {
  content: url(../img/icon-checkmark.svg);
  position: absolute;
  left: 0;
}

fieldset {
  border: 0 none;
}

.section_cart {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .section_cart {
    flex-direction: column;
  }
}

.goods {
  width: 57.2%;
}

@media (max-width: 768px) {
  .goods {
    width: 99.5%;
  }
}

.good {
  width: 100%px;
  min-height: 306px;
  display: flex;
  margin-bottom: 40px;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
}

@media (max-width: 375px) {
  .good__img {
    width: 40%;
  }
}

.goods-text {
  margin-left: 31px;
}

.goods__list {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #575757;
}

@media (max-width: 375px) {
  .goods__list {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
  }
}

.goods__item-count {
  color: #F16D7F;
}

.goods__heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 42px;
  margin-top: 22px;
}

@media (max-width: 375px) {
  .goods__heading {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    margin-top: 13px;
  }
}

.goods__heading-block {
  display: block;
}

.btn__goods {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
  margin-top: 72.5px;
}

@media (max-width: 768px) {
  .btn__goods {
    margin-top: 62px;
    margin-bottom: 64px;
    justify-content: space-evenly;
  }
}

@media (max-width: 375px) {
  .btn__goods {
    justify-content: space-around;
  }
}

.goods__btn {
  font-family: Lato;
  width: 235px;
  min-height: 50px;
  border: 1px solid #A4A4A4;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  background-color: transparent;
  text-transform: uppercase;
  color: #A4A4A4;
}

@media (max-width: 375px) {
  .goods__btn {
    width: 46.4%;
    min-height: 32px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    text-transform: lowercase;
  }
}

.goods__btn:hover {
  background-color: #A4A4A4;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 128px;
  }
}

@media (max-width: 375px) {
  .address {
    flex-direction: column;
    margin-bottom: 96px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .address_form {
    width: 49%;
  }
}

@media (max-width: 375px) {
  .address_form {
    width: 100%;
    margin-bottom: 48px;
  }
}

.address_button {
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
  text-transform: uppercase;
  color: #A4A4A4;
  padding: 10px 14px 12px;
  margin-top: 24px;
  margin-bottom: 57px;
}

@media (max-width: 768px) {
  .address_button {
    margin-bottom: 0;
  }
}

.address_button:hover {
  border: none;
}

.total {
  width: 100%;
  min-height: 214px;
  background-color: #F5F3F3;
}

@media (max-width: 768px) {
  .total {
    height: 214px;
    width: 49%;
  }
}

@media (max-width: 375px) {
  .total {
    width: 100%;
  }
}

.total_text-sub {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
  padding-top: 39px;
  padding-bottom: 12px;
  padding-right: 34px;
  text-align: right;
  color: #4A4A4A;
}

.total_text-grand {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
  padding-right: 34px;
  text-align: right;
  color: #4A4A4A;
}

.total_sum {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  color: #F16D7F;
}

.total_button {
  width: 76%;
  min-height: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #F16D7F;
  margin: 39px 43px;
  border: none;
}

.total_button:hover {
  background-color: #F5F3F3;
  color: #F16D7F;
}

.intro__catalog {
  min-height: 148px;
  background-color: #F8F3F4;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}

@media (max-width: 375px) {
  .flex {
    flex-direction: column;
    justify-content: space-evenly;
    height: 148px;
  }
}

.intro__catalog-heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 59px 0 60px;
}

@media (max-width: 375px) {
  .intro__catalog-heading {
    text-align: center;
    padding: 0;
  }
}

.intro__catalog-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  padding: 59px 0 60px;
}

@media (max-width: 375px) {
  .intro__catalog-text {
    text-align: center;
    padding: 0;
  }
}

.catalog__text-intro {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  color: #F16D7F;
}

.btn__dropdown {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: none;
  color: #4A4A4A;
}

@media (max-width: 375px) {
  .btn__dropdown {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
}

.catalog__dropdown {
  display: flex;
  margin-bottom: 65px;
  position: relative;
}

.dropdown-center {
  display: flex;
  margin-left: 50%;
  position: absolute;
}

@media (max-width: 768px) {
  .dropdown-center {
    right: 0;
    margin-left: 0;
  }
}

.filter-heading {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

@media (max-width: 375px) {
  .filter-heading {
    display: none;
  }
}

.filter-heading-mobile {
  display: none;
  border: none;
  background-color: transparent;
}

@media (max-width: 375px) {
  .filter-heading-mobile {
    display: block;
  }
}

.dropdown-filter-svg-mobile {
  width: 37px;
  height: auto;
}

.dropdown-filter {
  position: relative;
}

.filter-hover {
  width: 360px;
  min-height: 531px;
  background-color: #FFFFFF;
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.13);
}

.dropdown-filter-svg {
  fill: black;
}

.filter-hover-heading {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  color: #F16D7F;
  margin: 27px 0 36px 33px;
}

.filter-hover-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #6F6E6E;
  margin-left: 33px;
}

.dropdown-filter:hover .filter-hover {
  display: block;
}

.dropdown-filter:hover .filter-heading {
  color: #F16D7F;
}

.dropdown-filter:hover .dropdown-filter-svg {
  fill: #F16D7F;
}

.product__carousel {
  height: 777px;
  background-color: #F7F7F7;
}

@media (max-width: 375px) {
  .product__carousel {
    width: 100%;
    height: auto;
  }
}

.product__carousel-item {
  padding-left: 32%;
}

@media (max-width: 768px) {
  .product__carousel-item {
    padding-left: 10%;
  }
}

@media (max-width: 375px) {
  .product__carousel-item {
    padding-left: 0;
  }
}

.carousel-item__img {
  width: 597px;
  height: 724px;
}

@media (max-width: 375px) {
  .carousel-item__img {
    width: 100%;
    height: auto;
  }
}

.feature {
  min-height: 600px;
  background-color: #FFFFFF;
  margin-top: -65px;
  border: 1px solid #FFFFFF;
  position: relative;
  z-index: 1;
  margin-bottom: 129px;
}

@media (max-width: 768px) {
  .feature {
    margin-top: 0;
  }
}

@media (max-width: 375px) {
  .feature {
    margin-top: 0;
  }
}

.feture__heading {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  margin-top: 64px;
  margin-bottom: 12px;
  text-align: center;
}

.feture__svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feture__heading-after {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  color: #4A4A4A;
  margin-top: 12px;
  margin-bottom: 48px;
  text-align: center;
}

.feture__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #5E5E5E;
  width: 555px;
  margin-bottom: 32px;
  text-align: center;
}

@media (max-width: 375px) {
  .feture__text {
    width: 89%;
    line-height: 20px;
  }
}

.feture__text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feture__price {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  color: #F16D7F;
  margin-bottom: 65px;
  text-align: center;
}

.feture__svg-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 65px;
}

@media (max-width: 375px) {
  .feture__svg-line {
    width: 174px;
  }
}

.feture__dropdown-center {
  display: flex;
  justify-content: center;
  margin-bottom: 63px;
}

@media (max-width: 375px) {
  .btn__dropdown-mobile {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
  }
}

.feture__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feture__button-cart {
  border: 1px solid #FF6A6A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #FF6A6A;
  width: 211px;
  min-height: 48px;
  background: transparent;
  position: relative;
}

.feture__button-cart:hover {
  transform: scale(1.1);
}

.icon-cart {
  position: absolute;
  left: 23px;
  fill: #FF6A6A;
}

@media (max-width: 768px) {
  .fetured__item-tablet {
    display: none;
  }
}

@media (max-width: 375px) {
  .fetured__item-tablet {
    display: block;
  }
}

.footer {
  margin-top: 100px;
}
/*# sourceMappingURL=style.css.map */