.footer__background-img {
    min-height: 448px;
    background-image: url(../img/footer-background.jpg);
    background-size: cover;
}

.footer__img {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    color: $grey-dark-color;
    width: 360px;
    text-align: center;
    margin-top: 86px;
}

.footer__form {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: $grey-dark-color;
    margin-top: 150px;
    text-transform: uppercase;
    text-align: center;
}

.footer__form-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: block;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__bottom {
    min-height: 80px;
    background-color: $grey-dark-color;
}

.footer__bottom-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #FBFBFB;
    margin-top: 30px;
}

.footer__bottom-link {
    margin-top:32px;
}

.form__index-email {
    width: 100px;
    display: block;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: #918f8f;
    padding: 7px 130px 6px 22px;
    background-color: #E1E1E1;
    border-radius: 25px 0 0 25px
}

.form__index {
    display: flex;
    min-height: 50px;
    margin-top: 30px;
}

.form__submit {
    width: 100px;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color:#FFFFFF;
    background-color: $pink-dark-color;
    border-radius: 0 25px 25px 0;
}