.footer__background-img {
    min-height: 448px;
    background-image: url(../img/footer-background.jpg);
    background-size: cover;

    @include tablet {
        min-height: 693px;
        flex-direction: column;
        align-items: center;
    }

    @include mobile {
        min-height: 550px;
    }
}

.footer__img {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    color: $grey-dark-color;
    width: 360px;
    text-align: center;
    margin-top: 86px;

    @include tablet {
        margin-top: 53px;
    }

    @include mobile {
        @include font (18px, 22px, 400);
        margin-top: 64px;
    }
}

.footer__img-img {
    @include mobile {
        width: 25%;
        height: 25%;
        margin-bottom: 30px;
    }
}
.footer__form {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: $grey-dark-color;
    margin-top: 150px;
    text-transform: uppercase;
    text-align: center;

    @include tablet {
        margin-top: 78px;
    }

    @include mobile {
        margin-top: 59px;

    }
}

.footer__form-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: block;

    @include mobile {
        @include font (14px, 21px);
    }
}

.footer__container {
    display: flex;
    justify-content: space-between;

    @include tablet {
        flex-direction: column;
        align-items: center;
    }
}

.footer__container-bottom {
    display: flex;
    justify-content: space-between;
    
    @include mobile {
        flex-direction: column;
        align-items: center;
        min-height: 143px;
        justify-content: center;
    }
}

.footer__bottom {
    min-height: 80px;
    background-color: $grey-dark-color;
}

.footer__bottom-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #FBFBFB;
    margin-top: 30px;

    @include mobile {
        margin-top: 0;
    }
}

.footer__bottom-link {
    margin-top:32px;
}


.form__index-email {
    width: 100px;
    display: block;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: #918f8f;
    padding: 7px 130px 6px 22px;
    background-color: #E1E1E1;
    border-radius: 25px 0 0 25px;
}

.form__index-email:hover {
    transform: scale(1.1);
}

.form__index {
    display: flex;
    min-height: 50px;
    margin-top: 30px;
}

.form__submit {
    width: 100px;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color:#FFFFFF;
    background-color: $pink-dark-color;
    border-radius: 0 25px 25px 0;
}

.form__submit:hover {
    transform: scale(1.1);
}

.footer__icon {
    width: 30px;
    height: 30px;
}

.footer__icon:hover {
    transform: scale(1.1);
}

.footer__icon-inst {
    width: 30px;
    height: 30px;
    background-color: $pink-dark-color;
    border: none;
}

.footer__icon-inst:hover {
    transform: scale(1.1);
}