.intro {
    display: flex;
}

.into__heading-wrapper {
    width: 100%;
    background-color: $pink-color;
    display: flex; 
    align-items: center;
    padding: 0 0 0 40px;

    @include mobile {
        min-height: 363px;
        padding: 0 0 0 0;
        justify-content: center;
    }
}

.intro__heading {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;

    @include font (44px, 53px, 900);
    @include font (38px, 36px, 900);
}

.intro__text {
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    display: block;

    @include font (24px, 29px, 700);
    @include font (20px, 24px, 700);
}

.intro__pink {
    color: $pink-dark-color;

    @include font (24px, 29px, 700);
    @include font (20px, 24px, 700);
}

.intro_img {
    width: 50%;
    height: auto;

    @include mobile {
        display: none;
    }
}