.main_registration {
    display: flex;
    justify-content: space-between;

    @include mobile {
        flex-direction: column;
    }
}

.intro_registration {
    min-height: 148px;
    background-color: #F8F3F4;
    margin-bottom: 64px;

    @include tablet {
        margin-bottom: 40px;
    }
}

.intro_registration-heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
    padding: 59px 0 60px;
    margin-bottom: 64px;

    @include mobile {
        @include flex-center();
    }
}

.form {
    width: 30%;

    @include mobile {
        width: 96%;
        align-self: center;
    }
}

.radio-input {
    display: none;
}

.radio-label {
    margin: 0 0 0 20px;
    position: relative;
    padding: 0 20px 0 10px;
}

.radio-label:before {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    border:1px solid #A4A4A4;
    border-radius: 50%;
    left: -20px;
    top: 2px;
}

#name::-webkit-input-placeholder {
    color: #B1B1B1;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    padding-left: 5%;
}


.form_radio-input {
    margin-top: 33px;
    margin-bottom: 33px;
}

.form__contact-text {
    max-width: 360px;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    color:#B1B1B1;
    margin-top: 15px;
    margin-bottom: 39px;
}

.form__link {
    width: 167px;
    height: 50px;
    background-color: $pink-dark-color;
    color: white;
    border: none;
    text-transform: uppercase;
    margin-bottom: 96px;
    transition: background-color 700ms, color 700ms;

    @include mobile {
        margin-bottom: 40px;
    }
}

.form__link:hover {
    background-color: $white;
    color: $pink-dark-color;
    transition: background-color 700ms, color 700ms;
}

.form__link-img {
    padding-left: 20px;
}

.text__registration{
    width: 57.2%;

    @include mobile {
        width: 100%;
    }
}

.text__registration-heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 22px;

    @include tablet {
        @include font (16px, 19px, 300);
    }

    @include tablet {
        margin-bottom: 32px;
    }
}

.text__registration-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    padding-bottom: 21px;

    @include tablet {
        @include font (16px, 19px,300);
        width: 100%;
    }
}

.text__registration-list {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 45px;
    list-style: none;
    padding-left: 43px;
    position: relative;

    @include tablet {
        @include font (16px, 40px, 300);
        padding-left: 23px;
    }

    @include mobile {
        margin-bottom: 100px;
    }
}

.text__registration-item::before {
    content: url(../img/icon-checkmark.svg);
    position: absolute;
    left: 0;
}

fieldset {
    border: 0 none;
}

