.intro__catalog {
    min-height: 148px;
    background-color: #F8F3F4;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
}

.intro__catalog-heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
    padding: 59px 0 60px;
}

.intro__catalog-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    text-transform: uppercase;
    padding: 59px 0 60px;
}

.catalog__text-intro {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    color: #F16D7F;
}

.btn__dropdown {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    background-color: $white;
    border: none;
    color: $grey-dark-text-color;
}

.catalog__dropdown {
    display: flex;
    margin-bottom: 65px;
}

.dropdown-center {
    display: flex;
    margin-left: 320px;
}

.filter-heading {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    text-transform: uppercase;
}
